.projects {
  padding: 140px 0 0;
  margin-bottom: 83px;
  width: 88%;
  margin: 0 auto;
}

.projects .title {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 50%;
  margin-bottom: 76px;
  position: relative;
}

.projects .title::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 0;
  height: 430px;
  width: 1px;
  background-color: #e5e5e5;
}

.projects .title h3,
.projects .title h2 {
  margin: 0;
  color: #252525;
  font-size: 32px;
  font-weight: 200;
}

.projects .project-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  height: 5485.48px;
  margin-bottom: 83px;
}

.projects .project-cont .project {
  width: 48.5%;
  max-height: 950px;
  overflow: hidden;
  margin-bottom: 80px;
  align-self: stretch;
  padding-bottom: 45px;
  opacity: 1;
}

.projects .project-cont .project.one {
  margin-top: 60px;
}

.projects .project-cont .project:hover .image {
  transform: scale(0.97);
  transition: transform 0.3s ease-in-out;
}

.projects .project-cont .project .image {
  background-image: linear-gradient(#edf4ec, #c6e2e9, #c6e2e9);
  width: 100%;
  height: 839px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.projects .project-cont .project .image .card {
  position: absolute;
  top: 2%;
  left: -15%;
  width: 450px;
  height: 450px;
  margin: 0 0 -112.5px;
  object-fit: contain;
  animation: Hover 2.25s ease-in-out 0.75s infinite alternate;
}

.projects .project-cont .project .image .phone {
  position: absolute;
  top: 40%;
  right: -20%;
  width: 600px;
  height: 600px;
  object-fit: contain;
  animation: Hover 2.25s ease-in-out 0.75s infinite alternate;
}

.projects .project-cont .project .imgs {
  width: 100%;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.projects .project-cont .project:hover .imgs {
  transform: scale(0.97);
  transition: transform 0.3s ease-in-out;
}

.projects .project-cont .project .details {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.projects .project-cont .project .details h3 {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  cursor: pointer;
}

.projects .project-cont .project .details p {
  font-size: 15px;
  color: #757575;
  font-weight: 300;
  text-align: center;
  margin: 0;
  cursor: pointer;
}

.projects .project-cont .project.one {
  position: absolute;
  left: 0;
  top: 0px;
}
.projects .project-cont .project.two {
  position: absolute;
  right: 0;
  top: 0px;
}

.projects .project-cont .project.three {
  position: absolute;
  left: 0%;
  top: 1065.71px;
}

.projects .project-cont .project.four {
  position: absolute;
  right: 0%;
  top: 892.188px;
}

.projects .project-cont .project.five {
  position: absolute;
  left: 0%;
  top: 1734.16px;
}
.projects .project-cont .project.six {
  position: absolute;
  right: 0%;
  top: 1687.78px;
}
.projects .project-cont .project.seven {
  position: absolute;
  left: 0%;
  top: 2687.81px;
}
.projects .project-cont .project.eight {
  position: absolute;
  right: 0%;
  top: 2381.13px;
}
.projects .project-cont .project.nine {
  position: absolute;
  left: 0%;
  top: 3483.4px;
}
.projects .project-cont .project.ten {
  position: absolute;
  right: 0%;
  top: 3175.58px;
}
.projects .project-cont .project.eleven {
  position: absolute;
  right: 0%;
  top: 3849.3px;
}
.projects .project-cont .project.twelve {
  position: absolute;
  left: 0%;
  top: 4278.99px;
}
.projects .project-cont .project.thirteen {
  position: absolute;
  right: 0%;
  top: 4644.89px;
}

@keyframes Hover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10%);
  }
}
